/* Styles go here */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 40px;
  text-align: center;
  font-weight: 500;
}

h2 {
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  margin-bottom: 16px;
}

.container {
  width: 360px;
}

html,
body {
  min-width: 400px;
  min-height: 520px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollable-container {
  overflow-y: auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0 10px;
}

.scrollable-list-container {
  height: 300px;
  margin-top: 5px;
}

.scrollable-tags-container {
  height: 44px;
  margin-bottom: 6px;
}

.scrollable-container::-webkit-scrollbar {
  width: 5px;
}

.scrollable-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}

.btn {
  height: 20px;
  margin-left: 95px;
}

.customize-section {
  margin-bottom: 2px;
}

.title {
  display: flex;
  justify-content: center;
}
